<roundcube:object name="doctype" value="html5" />
<html>
<head>
<title><roundcube:object name="pagetitle" /></title>
<roundcube:include file="/includes/links.html" />

<link rel="stylesheet" type="text/css" href="/this/aliases.css" />
</head>
<body class="noscroll">

<roundcube:include file="/includes/header.html" />

<div id="mainscreen" class="offset">

  <roundcube:include file="/includes/settingstabs.html" />

  <div id="settings-right">
    <div id="aliases-list" class="uibox listbox">
      <h2 class="boxtitle"><roundcube:label name="aliases.aliases" /></h2>
      <div class="scroller withfooter">
        <roundcube:object name="aliaseslist" id="aliases-table" class="listing" cellspacing="0" summary="Aliases list" type="list" noheader="true" />
      </div>
      <div class="boxfooter">
        <roundcube:button command="plugin.aliases.add" type="link" title="aliases.aliasesnewalias" class="listbutton add disabled" classAct="listbutton add" innerClass="inner" content="+" /><roundcube:button name="aliasmenulink" id="aliasmenulink" type="link" title="moreactions" class="listbutton groupactions" onclick="UI.show_popup('aliasmenu');return false" innerClass="inner" content="&#9881;" />
      </div>
    </div>

    <div id="aliasesscreen">
      <div id="aliases-details" class="uibox contentbox">
        <div class="iframebox">
          <roundcube:object name="aliasesframe" id="prefs-frame" style="width:100%; height:100%" frameborder="0" src="/watermark.html" />
        </div>
      </div>
    </div>

  </div>

</div>

<div id="aliasmenu" class="popupmenu">
  <ul class="toolbarmenu">
    <li><roundcube:button command="plugin.aliases.enable" label="aliases.aliasesenable" classAct="active" /></li>
    <li><roundcube:button command="plugin.aliases.delete" label="delete" classAct="active" /></li>
    <roundcube:container name="aliasoptions" id="aliasmenu" />
  </ul>
</div>

<roundcube:include file="/includes/footer.html" />

<script type="text/javascript">
  new rcube_splitter({ id:'aliasessplitter1', p1:'#aliases-list', p2:'#aliases-details',
          orientation:'v', relative:true, start:240, min:120, size:12 }).init();
</script>

</body>
</html>
